<% product = line_item.product %>

<tr>
  <td>
    <%=  image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <%= product.description %>
  </td>
  <td>
  <%= product.price %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= line_item.quantity * product.price %>
  </td>
</tr>
